docs/html
docs/tagfile.xml

bin/
obj/
.AppleDouble
*.mode1v3

# xcode
*.pbxuser
*.perspectivev3
xcuserdata
build
*.app
#*.a

# OSX
.DS_Store
.AppleDouble

# codeblocks
*.layout
example/obj

# Win
*.exe
*.dll
